manga-component {
	display: none;
}

.mangaShow {
	display: block;
}

#mangaSearch {
	display: flex;
	flex-flow: row;
	gap: 15px;
	margin-top: 15px;
}

#mangaSearchInput {
	width: 100%;
}

.mangaTagName, .mangaButton {
    font-size: 18px;
    color: var(--fg);
	outline: none;
	padding: 10px;
	background-color: var(--bgalt);
	border-radius: 15px;
}

.mangaButton {
	border: none;
	cursor: pointer;
}

.mangaButton.active {
	color: var(--bg);
	background-color: var(--fg);
}

.mangaTagNames, #mangaTags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.mangaHeader {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.headerAnchor {
	display: none;
}

.mangaHeader:hover .headerAnchor {
	display: inherit;
}

.mangaWrapper {
    display: flex;
    flex-flow: row;
    gap: 20px;
    margin: 20px 0 20px 0;
}

.mangaImage {
    max-width: 40%;
    width: auto;
	height: auto;
    object-fit: contain;
	object-position: top;
	user-select: none;
	cursor: pointer;
	scroll-snap-align: center;
}

.mangaContent {
	display: flex;
	flex-flow: column;
	gap: 10px;
}

.mangaReview {
	all: unset;
    font-size: 18px;
    color: var(--fg);
	margin-top: 10px;
	transition: max-height 0.3s ease;
}

.mangaReview.expanded {
	display: block;
}

.mangaReview.collapsed {
	display: -webkit-box;
	-webkit-line-clamp: 12;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.mangaBox {
	display: grid;
	grid-template-columns: calc(50% - 10px) calc(50% - 10px);
	grid-auto-flow: row;
	column-gap: 20px;
	row-gap: 20px;
}

@media all and (max-aspect-ratio: 2/3) {
	.mangaImage {
		max-width: 100%;
	}

	.mangaWrapper {
		flex-flow: row wrap;
	}
}

@media all and (max-aspect-ratio: 1/1) {
	.mangaBox {
		display: grid;
		grid-template-columns: auto;
		grid-auto-flow: row;
		column-gap: 20px;
	}
}
