.manga {
	display: none;
}

.mangashow {
	display: block;
}

.mangatagname, .mangabutton {
    font-size: 18px;
    color: var(--fg);
	outline: none;
	padding: 10px;
	background-color: var(--bgalt);
	border-radius: 15px;
}

.mangabutton {
	border: none;
	cursor: pointer;
}

.mangabutton.active {
	color: var(--bg);
	background-color: var(--fg);
}

.mangatagnames, #mangatags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.mangaheader {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.headeranchor {
	display: none;
}

.mangaheader:hover .headeranchor {
	display: inherit;
}

.mangawrapper {
    display: flex;
    flex-flow: row;
    gap: 20px;
    margin: 20px 0 20px 0;
}

.mangaimage {
    max-width: 40%;
    width: auto;
	height: auto;
    object-fit: contain;
	object-position: top;
	user-select: none;
	cursor: pointer;
	scroll-snap-align: center;
}

.mangacontent {
	display: flex;
	flex-flow: column;
	gap: 10px;
}

.mangareview {
	all: unset;
    font-size: 18px;
    color: var(--fg);
	margin-top: 10px;
}

.mangabox {
	display: grid;
	grid-template-columns: calc(50% - 10px) calc(50% - 10px);
	grid-auto-flow: row;
	column-gap: 20px;
	row-gap: 20px;
}

@media all and (max-aspect-ratio: 2/3) {
	.mangaimage {
		max-width: 100%;
	}

	.mangawrapper {
		flex-flow: row wrap;
	}
}

@media all and (max-aspect-ratio: 1/1) {
	.mangabox {
		display: grid;
		grid-template-columns: auto;
		grid-auto-flow: row;
		column-gap: 20px;
	}
}
