:root {
	--bg: #151515;
	--bg2: #171717;
	--bg3: #1a1a1a;
	--fg: #b3b3b3;
	--ln: #5f819d;
}

@font-face {
	font-family: "Roboto";
	src: url(../fonts/Roboto-Regular.ttf)
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	height: 100vh
}

body {
	font-family: "Roboto";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: var(--bg);
	color: var(--fg) !important;
}

a {
	color: var(--fg);
	text-decoration: none;
}

a:link, a:visited, a:active {
	color: var(--ln);
}

hr {
	border: 2px solid var(--bg3);
}

.link:hover {
	text-decoration: underline;
}

@media screen and (min-width: 636px) {
	#box {
		background: var(--bg2);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 20px;
		border-style: solid;
		border-width: 3px;
		border-color: var(--bg3);
		min-width: 445px;
		max-width: 750px;
	}	

	.image {
		max-width: 450px;
		max-height: auto;
	}

	.header {
		margin: 0 20px;
		display: table;
		width: 100%;
	}
	
	.header h1 {
		display: table-cell;
		font-size: 40px;
		line-height: 60px;
		width: 80%;
	}
	
	.header h2 {
		display: table-cell;
		font-size: 25px;
		line-height: 60px;
		width: 20%;
		padding: 0 40px 0 0;
	}
	
	.list, .body {
		margin: 0 40px;
		font-size: 20px;
		line-height: 30px;
	}
	
	.date {
		float: right;
	}
	
	.footer {
		padding: 0;
		display: table;
		width: 100%;
	}
	
	.footer a {
		font-size: 25px;
		line-height: 40px;
		display: table-cell;
		text-align: center;
		width: 33%;
	}	
}

@media screen and (max-width: 635px) {
	#box {
		background: var(--bg2);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 20px;
		border-style: solid;
		border-width: 3px;
		border-color: var(--bg3);
		min-width: 250px;
		max-width: 300px;
	}	

	.header {
		margin: 0 20px;
	}
/*
	.header h1 {
		font-size: 40px;
		line-height: 60px;
	}
	
	.header h2 {
		font-size: 25px;
		line-height: 60px;
	}
*/

	.image {
		max-width: 300px;
		max-height: auto;
	}

	.list, .body {
		margin: 0 40px;
		font-size: 20px;
		line-height: 30px;
	}
	
	.date {
		float: right;
	}
	
	.footer {
		padding: 0;
		display: table;
		width: 100%;
	}
	
	.footer a {
		font-size: 22px;
		line-height: 30px;
		display: table-cell;
		text-align: center;
		width: 33%;
	}
}
