/* Setup */

@font-face {
	font-family: "Roboto";
	src: local("Roboto"), url(../fonts/Roboto-Regular.ttf);
}

:root {
	font-family: "Roboto";
	--fg: #c8c8c8;
	--fgalt: #969696;
	--bg: #151515;
	--bgalt: #202020;
	--blue: #6a9fb5;
	--green: #90a959;
	--red: #ac4142;
}

html {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: var(--bg);
}

/* Text */

h1 {
	margin: 0;
	font-weight: bold;
	font-size: 24px;
	color: var(--fg);
	text-decoration: none;
	background-color: var(--bgalt);
	border-radius: 15px;
	padding: 10px;
	display: block;
	height: min-content;
}

h1 > a {
	color: var(--fg);
}

h2 {
	margin: 0;
	font-size: 20px;
	color: var(--fg);
}

h3 {
	margin: 0;
	font-size: 16px;
	color: var(--fgalt);
}

p, pre, li, .text {
	font-size: 18px;
	color: var(--fg);
	text-decoration: none;
}

hr {
	border-width: 0;
	height: 3px;
	background-color: var(--fg);
}

a {
	color: var(--blue);
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

:target h1, :target a  {
	background-color: var(--fg);
	color: var(--bg);
}

pre > code {
	background-color: var(--bgalt);
	padding: 20px;
	display: block;
	overflow-x: auto;
	white-space: pre;
	tab-size: 4;
}

code {
	background-color: var(--bgalt);
}

.spoiler {
	background-color: var(--fg);
	color: var(--fg);
	border-radius: 5px;
	transition: color 0.1s ease;
	box-decoration-break: clone;
	padding: 0 3px;
}

.spoiler:hover {
	cursor: pointer;
}	

.spoiler.spoilerActive {
	color: var(--bg);
}

/* Header */

#header {
	display: flex;
	justify-content: space-between;
	background-color: var(--bg);
	padding: 15px 15px 5px 15px;
}

#pfp {
	border-radius: 50%;
	margin: auto;
	width: 70%;
}

#pfpContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: -10%;
	aspect-ratio: 1/1;
}

#infoContainer {
	display: flex; 
	flex-flow: column; 
	justify-content: center; 
	flex-grow: 1; 
	gap: 15px; 
	max-width: 30%;
}

.svg {
	height: 36px;
	filter: brightness(0) saturate(100%) invert(83%) sepia(0%) saturate(873%) hue-rotate(159deg) brightness(92%) contrast(109%);
}

.horiz {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

/* Main */

#background {
	display: flex;
	flex: 1;
	gap: 20px;
	padding: 20px;
	margin: 10px;
	background-size: cover;
	background-image: url(../src/background.png);
	border-radius: 30px;
}

#center {
	display: flex;
	gap: 20px;
	justify-content: center;
	width: 100%;
}

.box {
	padding: 15px;
	background-color: var(--bg);
	border-radius: 20px;
}

.boxAlt {
	padding: 10px;
	background-color: var(--bgalt);
	border-radius: 15px;
}

#sidebar {
	display: flex;
	flex-flow: column;
	gap: 20px;
}

#sidebar > * {
	flex: 1 0;
}

#main, #sidebar {
	position: relative;
	overflow: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#main::-webkit-scrollbar, #sidebar::-webkit-scrollbar {
	display: none;
}

.image {
	max-width: 60%;
	width: auto;
	height: auto;
	object-fit: contain;
	user-select: none;
	cursor: pointer;
	scroll-snap-align: center;
}

.guideImage {
	max-width: 100%;
}

.imageWrapper {
	display: flex;
	flex-flow: row;
	gap: 20px;
	margin: 20px 0 20px 0;
}

.imageContent {
	display: flex;
	flex-flow: column;
	justify-content: center;
	gap: 10px;
}

.list {
	font-size: 48px;
	color: var(--fg);
}

.listContent {
	max-width: 100%;
	height: auto;
	object-fit: contain;
	user-select: none;
	cursor: pointer;
	scroll-snap-align: center;
}

.listBox {
	display: grid;
	grid-template-columns: auto auto;
	grid-auto-flow: row;
	column-gap: 20px;
	row-gap: 20px;
}

/* Home Page */

#homeContainer {
	display: flex;
	flex-flow: row wrap;
	gap: 20px;
	padding: 10px;
}

.homeSection {
	flex-basis: calc(50% - 10px);
}

.homeImage {
	min-width: 0;
	height: fit-content;
	border-radius: 10px;
}

/* Screen */

@media all and (max-aspect-ratio: 1/1) {
	body {
		height: auto;
		min-height: 100vh;
	}

	#header {
		flex-flow: row wrap;
		justify-content: space-between;
	}

	#pfpContainer {
		width: 50%;
		margin: 10px 0;
		aspect-ratio: unset;
	}

	#pages {
		width: 100%;
		justify-content: center;
		padding-top: 10px;
	}

	#sidebar {
		display: none;
	}

	#background {
		flex-flow: column;
	}

	#main {
		overflow-y: auto;
		overflow-x: scroll;
	}

	.image {
		max-width: 100%;
	}

	.imageWrapper {
		flex-flow: row wrap;
	}

	.listBox {
		display: grid;
		grid-template-columns: auto;
		grid-auto-flow: row;
		column-gap: 20px;
	}

	#main { 
		flex: 1 1;
		order: 1; 
	}
}

@media all and (max-aspect-ratio: 2/3) {
	#homeContainer {
		flex-flow: column;
	}

	.homeSection {
		flex-basis: unset;
	}

	.homeImage {
		height: unset;
	}
}

@media all and (min-aspect-ratio: 1/1) {
	#sidebar { 
		order: 1; 
		/*aspect-ratio: 1/4;*/
		flex: 0 1 330px;
	}
	#main { 
		order: 2; 
		/*aspect-ratio: 3/4;*/
		flex: 0 1 970px;
	}

	#header { display: none; }
	#background { overflow: hidden; }
}

@media (prefers-color-scheme: light) {
	:root {
		--fg: #303030;
		--fgalt: #505050;
		--bg: #f5f5f5;
		--bgalt: #e3e3e3;
	}
	.svg {
		filter: brightness(0) saturate(100%) invert(13%) sepia(16%) saturate(0%) hue-rotate(167deg) brightness(94%) contrast(84%);
	}
}
