:root {
	--bg: #151515;
	--bg2: #171717;
	--bg3: #1a1a1a;
	--fg: #b3b3b3;
}

@font-face {
	font-family: "Roboto";
	src: local("Roboto"), url(../../fonts/Roboto-Regular.ttf)
}

html,
body {
	margin: 0;
	padding: 0;
}

html {
	height: 100vh;
}

body {
	font-family: "Roboto";
	background-color: var(--bg);
	color: var(--fg);
	display: flex;
	height: 100vh;
}

a {
	color: var(--fg);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0 20px;
	font-size: 30px;
	line-height: 50px;
}

#box {
	background: var(--bg2);
	padding: 20px;
	border-style: solid;
	border-width: 3px;
	border-color: var(--bg3);
	display: inline-flex;
	flex-direction: column;
}

#wrapper {
	margin: auto;
	padding: 40px;
}

#time {
	font-size: 60px;
	margin-left: 15px;
	line-height: 80px;
}

.links {
	column-count: 3;
}
